.App {
  width: 90vw;
  height: 97vw;
  max-height: 90vh;
  max-width: 800px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: #F5F5F5;
  border-radius: 10px;
  box-shadow: 5px 5px 20px 20px rgba(0, 0, 0, 0.3);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  margin-block: min(3.5vh, 28.5px) 0px;

  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: min(7.6vw, 63px);
  line-height: min(4.1vw, 40px);
  letter-spacing: -0.03em;
  color: #2B283A;
}

.description {
  width: 68vw;
  max-width: 591px;
  margin-top: min(1.2vw, 10.8px);

  font-family: 'Inter';
  font-weight: 400;
  font-size: min(3.8vw, 33px);
  line-height: min(4.8vw, 43px);
  letter-spacing: -0.03em;
  color: #4A4E74;
}

.dice--container {
  display: grid;
  grid-template: auto auto / repeat(5, min(7.2vw, 36px));
  gap: min(6vw, 54px); /* gap between dice */
  justify-items: center;
  margin-block: min(1.4vw, 13px) min(5vw, 44.3px); /* margin top and bottom */
}

.roll-Btn {
  width: 21vw;
  height: 8vw;
  max-width: 182.7px;
  max-height: 69.6px;
  
  background: #5035FF;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border: none;
  border-radius: 3.8px;
  cursor: pointer;

  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: min(3.8vw, 33px);
  color: white;
}